{% extends 'base.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="container my-4">
        <h1 class="text-center">О нашей компании</h1>
        <p class="lead text-center">Добро пожаловать в Магазин цветов! Мы стремимся приносить радость через цветы.</p>

        <div class="row my-5">
            <div class="col-md-6">
                <h2>Наша миссия</h2>
                <p>
                    Мы создаем уникальные букеты и композиции, чтобы сделать ваш день ярче и счастливее.
                    Качество и внимание к деталям — наши главные приоритеты.
                </p>
            </div>
            <div class="col-md-6">
                <img src="{{ MEDIA_URL }}products/../../../static/images/mission.jpg" alt="Наша миссия" class="img-fluid rounded">
            </div>
        </div>

        <div class="row my-5">
            <div class="col-md-6">
                <img src="{{ MEDIA_URL }}products/../../../static/images/team.jpg" alt="Наша команда" class="img-fluid rounded">
            </div>
            <div class="col-md-6">
                <h2>Наша команда</h2>
                <p>
                    В нашей команде работают профессионалы, которые знают толк в цветах.
                    Мы гордимся своим коллективом, который делает невозможное возможным.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
